body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

header {
    background-image: url(../assets/gimbals.png);
    height: 100vh;
    background-size: cover;
    color: aliceblue;
}

.header-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    height: 100vh;
    width: 100vw;
    left: 30%
}

.intro-text {
    font-family: 'Open Sans', sans-serif;
    padding: 10px;
    font-size: 50px;
}

a {
    background-color: dimgrey;
    border-bottom: 3px solid dimgrey;
    display: block;
    width: 110px;
    padding: 20px 40px;
    color: white;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    border-radius: 4px;
}

.expanding {
    transition: width 0.3s ease-in-out;
    -webkit-transition: width 0.3s ease-in-out;
    -moz-transition: width 0.3s ease-in-out;
    -o-transition: width 0.3s ease-in-out;
    width: 120px;
    height: 120px;
    background-color: #363636;
    position: relative;
    display: inline-block;
}

.expanding:hover {
    width: 300px;
    height: 120px;
    background-color: #363636;
}

.spacing {
    height: 10px;
}

@media (max-width:768px) {}
