html,
body {
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
}

body.overflow-hidden {
    overflow: hidden;
}

a {
    text-decoration: none;
    color: white;
}

header {
    background-image: url(../assets/gimbals.png);
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 100vh;
    color: aliceblue;
}

div a {
    background-color: dimgrey;
    border-bottom: 3px solid dimgrey;
    display: block;
    width: 110px;
    padding: 20px 40px;
    color: white;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    border-radius: 4px;
}

.container {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: white;
    color: rgb(20, 20, 20);
}

.inner {
    width: 80%;
    margin: 0 auto;
    padding-top: 45px;
    padding-bottom: 45px;
    line-height: 130%;
    font-family: 'Open Sans', sans-serif;
}
