body {
    margin: 0;
    padding: 0;
}

header {
    background-image: url(gimbals.png);
    height: 100vh;
    background-size: cover;
    color: aliceblue;
    font-family: 'Arial';
}

.header-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

a {
    background-color: #395fb0;
    border-bottom: 3px solid #304777;
    display: block;
    width: 100px;
    text-align: center;
    padding: 20px 40px;
    color: white;
    text-decoration: none;
    font-family:'Roboto';
    border-radius: 4px;
}
